<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="container body-content">

<header th:replace="fragments :: page-header"></header>

<p th:unless="${employers} and ${employers.size()}">No Jobs</p>

<h1>Employers</h1>

<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Jobs With Employer</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>
    </thead>

    <tr th:each="employer : ${employers}">
        <td th:text="${employer.name}"></td>
        <td th:text="${employer.location}"></td>
        <td><a th:href="@{/list/jobs(column=employer, value=${employer.name})}">View</a></td>
        <td><a th:href="@{/employers/delete/{id}(id=${employer.id})}"><button class="btn btn-primary">Delete</button></a></td>
        <td><a th:href="@{/employers/update/{id}(id=${employer.id})}"><button class="btn btn-primary">Update</button></a></td>
    </tr>
</table>

<a th:href="@{/employers/add}" ><button class="btn btn-primary">Add Employer</button></a>

</body>
</html>