<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body class="container  body-content">

<h1 th:text="${'Skill: ' + skill.name}">Default Title</h1>

<nav th:replace="fragments :: page-header"></nav>

<div class="job-listing">

    <p><span>Name: </span><span th:text="${skill.name}"></span></p>
    <p><span>Description: </span><span th:text="${skill.description}"></span></p>
    <p><span>Jobs: </span>
       <ul>
    <li th:each="job : ${skill.jobs}">
        <a th:href="@{'/view/' + ${job.id}}" th:text="${job.name}"></a>
    </li>
</ul>
    </p>
</div>
</body>
</html>