<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h2>TechJobs</h2>

    <table class=table table-striped>
        <thead>
        <tr>
            <th>Name</th>
            <th>Job Details</th>
            <th>Delete</th>
            <th>Update</th>
        </tr>
        </thead>
        <tr th:each="job : ${jobs}">
            <td th:text="${job.name}"></td>
            <td><a th:href="@{'/view/' + ${job.id}}">View</a></td>
            <td><a th:href="@{/delete/{id}(id=${job.id})}"><button class="btn btn-primary">Delete</button></a></td>
            <td><a th:href="@{/update/{id}(id=${job.id})}"><button class="btn btn-primary">Update</button></a></td>
        </tr>
    </table>
    <a th:href="@{'/add'}"><button class ="btn btn-primary">Add Job</button> </a>

</div>


</body>
</html>